PORT=5000
MONGODB_URI=mongodb+[REDACTED_CONN_STRING]://<cluster>.mongodb.net/<database>?retryWrites=true&w=majority
NODE_ENV=development
JWT_SECRET=your-secret-key
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=[REDACTED_PASSWORD]